.main {
  background-color: rgb(83, 156, 83);
  margin: 0px 0px 0px 0px;
  height: 10vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-bottom: 1px solid rgb(83, 156, 83);
}
.icons {
  transform: scale(1.5);
  color: white;
}
.whole-div {
  display: flex;
  width: 90%;
  height: 10vh;
  justify-content: space-between;
}
.whats-div {
  margin-top: -5px;
  align-items: center;
}
.whats {
  color: white;
  font-weight: lighter;
  text-align: justify;
  padding-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

.icons-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18%;
}
/* NAVCSS */
.nav {
  background-color: rgb(83, 156, 83);

  height: 5vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0px 0px 0px 0px;
  position: fixed;
  top: 10%;
  padding-bottom: 3%;
  border: none;
  border-top: 1px solid rgb(83, 156, 83);
}
.community {
  font-size: 10px;
  margin-left: -4%;
}
.status {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.text-butt {
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid white;
  width: 150%;
}
.butt-hover {
  border: none;
  background-color: transparent;
  color: white;
  /* transition: 0.2s; */
}
.butt-hover:hover {
  background-color: rgb(0, 168, 0);
  border-radius: 1px;
  border-bottom: 2px solid white;
  width: 150%;
  box-sizing: border-box;
  height: 5vh;
}

/* chatcss */
.chat-div {
  display: flex;
  align-items: center;
}
.div {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-left: 20px;
}
.img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-top: 20%;
  /* box-sizing: border-box; */
}
.chat-text {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  justify-content: space-between;
  display: flex;
  width: 90%;
  align-items: center;
}
.name {
  margin-top: 2%;
}
.msg-main-div {
  display: flex;
  align-items: center;
}

.tick {
  color: blue;
  transform: scale(0.9);
}
.msg {
  color: rgb(126, 122, 122);
}
.call {
  color: red;
}

@media screen and (max-width: 768px) {
  .whats {
    padding-top: 20%;
  }
  .icons-main {
    font-size: 10px;
    width: 35%;
  }
  .status {
    margin-left: 0%;
  }
  .community {
    margin-left: 0;
  }
  .div {
    margin-left: 0;
  }
  .name {
    margin-top: 7.4%;
  }
}
